@page "/board/{Id}"

@using Models = Kertu.InteractiveServer.Data.Models.Elements

<RadzenText TagName="TagName.H2">@_title</RadzenText>

<RadzenDropZoneContainer TItem="Models.Element" Data="_elements" ItemSelector="@_itemSelector">
    <ChildContent>
        <RadzenStack Orientation="Orientation.Horizontal" Gap="1rem" Wrap="FlexWrap.Wrap" class="rz-p-12">
            @foreach (Models.Element element in _elements)
            {
                @if (element is Models.List list)
                {
                    <RadzenDropZone Value="@list.Id" class="rz-display-flex rz-flex-column rz-background-color-warning-lighter rz-border-warning-light rz-border-radius-2 rz-p-4" Style="flex: 1; gap: 1rem;">
                        <ChildContent>
                            <RadzenText Text="@list.Name" TextStyle="TextStyle.Subtitle2" />
                        </ChildContent>
                        <Footer>
                            <div>
                                <RadzenButton Size="ButtonSize.ExtraSmall" Icon="add" ButtonStyle="ButtonStyle.Success" Click="@CreateItem" />
                            </div>
                        </Footer>
                    </RadzenDropZone>
                }
                else if (element is Models.Card card)
                {
                    <RadzenStack class="rz-background-color-primary rz-border-primary rz-border-radius-2 rz-p-4" Style="flex: 1; gap: 1rem;">
                        <RadzenText Text="@card.Name" TextStyle="TextStyle.Subtitle2" />
                    </RadzenStack>
                }
                else if (element is Models.Board board)
                {
                    <RadzenStack class="rz-background-color-primary rz-border-primary rz-border-radius-2 rz-p-4" Style="flex: 1; gap: 1rem;">
                        <RadzenText Text="@board.Name" TextStyle="TextStyle.Subtitle2" />
                    </RadzenStack>

                }
            }
        </RadzenStack>
    </ChildContent>
    <Template>
        <strong>@context.Name</strong>
    </Template>
</RadzenDropZoneContainer>