@page "/list/{Id}"

@using Models = Kertu.InteractiveServer.Data.Models.Elements
@using Microsoft.EntityFrameworkCore
@using Data

@inject ApplicationDbContext dbContext
@inject NavigationManager navigationManager

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />

<RadzenText TagName="TagName.H2">@_title</RadzenText>
<RadzenDataList Data="@_active" TItem="Models.Card" >
    <Template Context="card">
        <RadzenStack AlignItems="AlignItems.Center" Orientation="Orientation.Horizontal" Style="cursor: pointer" @onclick="() => Open(card)">
            @if (card.IsTask)
            {
            <span class="material-symbols-outlined radio-check"
                  @onclick="() => MarkAsCompleted(card)">radio_button_unchecked</span>
            }
            <RadzenText Style="margin: 0">@card.Name</RadzenText>
        </RadzenStack>
    </Template>
</RadzenDataList>

<RadzenText TagName="TagName.H4">Completed</RadzenText>
<RadzenDataList Data="@_completed" TItem="Models.Card">
    <Template Context="task">
        <RadzenStack AlignItems="AlignItems.Center" Orientation="Orientation.Horizontal" Style="cursor: pointer" @onclick="() => Open(task)">
            <span class="material-symbols-outlined radio-check"
                  @onclick="() => UnmarkAsCompleted(task)">radio_button_checked</span>
            <RadzenText Style="margin: 0" class="completed-text">@task.Name</RadzenText>
        </RadzenStack>
    </Template>
</RadzenDataList>

<style>
    .radio-check {
        font-size: 28px;
        color: #888;
        transition: color 0.2s;
    }

        .radio-check:hover {
            color: var(--rz-primary);
        }

    .completed-text {
        color: #888;
        text-decoration: line-through;
    }
</style>
